<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"grey","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-grey-background-color has-background" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--40)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|60","left":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"className":"has-normal-font-size","style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}},"textColor":"black","fontSize":"large"} -->
<h2 class="wp-block-heading has-normal-font-size has-black-color has-text-color has-link-color has-large-font-size" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--40)"><strong>WordPress</strong> meetup organiser</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","fontSize":"medium"} -->
<p class="has-black-color has-text-color has-link-color has-medium-font-size">I organise the <a href="https://www.meetup.com/cheltenham-wordpress-meetup/" data-type="link" data-id="https://www.meetup.com/cheltenham-wordpress-meetup/" target="_blank" rel="noreferrer noopener">WordPress meetup in Cheltenham, UK</a>, helping to connect and foster a local community of WordPress enthusiasts. My goal as a meetup organizer is to create a welcoming and inclusive environment where individuals of all skill levels can come together to:</p>
<!-- /wp:paragraph -->

<!-- wp:list {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black"} -->
<ul class="wp-block-list has-black-color has-text-color has-link-color"><!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Share knowledge</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Exchange ideas</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"medium"} -->
<li class="has-medium-font-size">Learn from each other</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"className":"has-normal-font-size","style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"typography":{"lineHeight":"1.6"},"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}},"textColor":"black","fontSize":"large"} -->
<h2 class="wp-block-heading has-normal-font-size has-black-color has-text-color has-link-color has-large-font-size" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--40);line-height:1.6"><strong>Theme</strong> &amp; <strong>plugin</strong> developer</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"},":hover":{"color":{"text":"var:preset|color|contrast"}}}}},"textColor":"black","fontSize":"medium"} -->
<p class="has-black-color has-text-color has-link-color has-medium-font-size">I'm a <a href="https://profiles.wordpress.org/erichmond/" target="_blank" rel="noreferrer noopener">WordPress</a> core contributor, theme developer, plugin developer, pattern author and all-around WordPress &amp; WooCommerce enthusiast. I also create <a href="https://www.youtube.com/@elliottrichmondwp" target="_blank" rel="noreferrer noopener">educational YouTube videos for WordPress</a> and WooCommerce enthusiasts, where I share tips, tutorials, and insights to help others deepen their understanding and skills.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"className":"has-normal-font-size","style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}},"textColor":"black","fontSize":"large"} -->
<h2 class="wp-block-heading has-normal-font-size has-black-color has-text-color has-link-color has-large-font-size" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--40)"><strong>Square One Software</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">The business side of my work as a professional web developer. Alongside my wife and business partner at <a href="https://squareone.software" target="_blank" rel="noreferrer noopener">Squareone Software</a>, we offer tailored web development and application development. With decades of experience, we help businesses achieve their digital goals by delivering unique and functional solutions while maintaining a client-centred approach. Our focus is on quality, innovation, and results.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|20"},"background":{"backgroundImage":{"url":"https://elliottrichmond.test/wp-content/uploads/2024/09/panel-scaled.jpg","id":682,"source":"file","title":"panel"},"backgroundSize":"cover","backgroundPosition":"63% 57.99999999999999%"},"dimensions":{"minHeight":"604px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="min-height:604px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--40)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"blockGap":"var:preset|spacing|70"}}} -->
<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:social-links {"iconColor":"white","iconColorValue":"#ffffff","className":"is-style-logos-only","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|40"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://profiles.wordpress.org/erichmond/","service":"wordpress"} /-->

<!-- wp:social-link {"url":"https://github.com/eirichmond","service":"github"} /-->

<!-- wp:social-link {"url":"https://twitter.com/elliottrichmond","service":"twitter"} /-->

<!-- wp:social-link {"url":"https://www.instagram.com/elliott.richmond.dev/","service":"instagram"} /-->

<!-- wp:social-link {"url":"elliott@squareonemd.co.uk","service":"mail"} /-->

<!-- wp:social-link {"url":"https://www.youtube.com/@elliottrichmondwp","service":"youtube"} /--></ul>
<!-- /wp:social-links -->

<!-- wp:jetpack/subscriptions {"buttonBackgroundColor":"primary","borderColor":"primary","className":"is-style-compact","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"0","right":"0"}},"layout":{"selfStretch":"fit","flexSize":null}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"-70px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:-70px;padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:query {"queryId":9,"query":{"perPage":8,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"enhancedPagination":true,"align":"full","layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"grid","columnCount":"3","minimumColumnWidth":null}} -->
<!-- wp:group {"style":{"dimensions":{"minHeight":"100%"},"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"border":{"radius":"15px","width":"1px"}},"backgroundColor":"white","borderColor":"grey","layout":{"type":"flex","orientation":"vertical","verticalAlignment":"space-between"}} -->
<div class="wp-block-group has-border-color has-grey-border-color has-white-background-color has-background" style="border-width:1px;border-radius:15px;min-height:100%;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"black","fontSize":"medium"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:post-date {"textAlign":"left","isLink":true,"style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|60","bottom":"0"}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--40)"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"italic","fontWeight":"400"}},"fontFamily":"petrona"} -->
<p class="has-petrona-font-family" style="font-style:italic;font-weight:400">Note: This site is built using WordPress Gutenberg blocks in a blocktheme, with full site editing enabled. </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->